<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>CliqueMedicos</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Jersey Servlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.hepta.cliquemedicos.service</param-value>
		</init-param>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>your.package.SwaggerJaxrsConfig</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Jersey Servlet</servlet-name>
		<url-pattern>/rs/*</url-pattern>
	</servlet-mapping>
	<error-page>
		<location>/main/webapp/errorPage.html</location>
	</error-page>
	
	<listener>
        <listener-class>
			main.java.com.hepta.cliquemedicos.job.QuartzJobScheduler
        </listener-class>
    </listener>

	<filter>
		<filter-name>filtroSessao</filter-name>
		<filter-class>main.java.com.hepta.cliquemedicos.security.SessionFilterCM</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>filtroSessao</filter-name>
		<url-pattern>/pages/*</url-pattern>
		<url-pattern>/rs/*</url-pattern>
	</filter-mapping>

	<session-config>
		<session-timeout>1440</session-timeout>
	</session-config>
</web-app>